html{
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
}

main{
    text-align: center;
    
}

.hide{
    user-select: none;
    pointer-events: none;
    opacity: .1;
    transform: perspective(500px) translate3d(0px, 0, -100px);
    
}

#game-grid{
    margin: 2em auto;

    @media only screen and (min-width:300px){ 
        width: 100%;
        font-size: .7em;
        max-width: 800px;
      }
  
      @media only screen and (min-width:1025px){ 
        width: 40%;
        max-width: 800px;
      }

    width: 40%;
    max-width: 800px;
    border: 0px  black inset;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    justify-content: space-around; 


}
#score-container{
    display: flex;
    justify-content: space-between;    
  }

#word-container, #score-container{
    min-height: 3rem;
    font-size: 3em;
    padding: 0px;
    margin: 0px;
}

.tile-container{
    width: 18%;
    transition: all .3s;
    margin: .5em .25em;
}

.tile-selected .tile{
    border: 5px #300 inset;
}

.tile{
    border: 1px solid black;
    border-radius: .1em;
    
    padding: 0px;
    margin: 0px;
    position: relative;
    
    font-size: 5em;
    height: 1.5em;
    pointer-events: none;

    .letter{
        font-size: 1em;
        position: relative;
        position: absolute;


        @media only screen and (min-width:300px){ 
            top: .25em;
            left:.6em;
          }
      
          @media only screen and (min-width:1025px){ 
            top: .25em;
            left:.8em;
          }

        user-select: none;
        pointer-events: none;
    }
    
    sup{
        position: absolute;
        top: .5em;
        left: .5em;
        font-size: .25em;
        user-select: none;
        pointer-events: none;
    }
}


button{
    font-size: 1.5em;
    margin: .5em;
    padding: .25em 2em;
    border-radius: 1em;

    &#submit{
        background-color: lime;

        &:active{
            background-color: green;
        }
    }

    &#reset{

        background-color: #F00;
        color: #FFF;

        &:active{
            background-color: #C00;
        }
    }

    &#clear{

        &:active{
            background-color: darkgray;
        }
    }
}

 
.usedTile{
    position: relative;
    left: -10em;
}


#game-over{
    position: absolute;
    top:0;
    left:0;
    display: block;
    background-color: rgba(255,255,255,70%);
    width: 100%;
    height: 100%;
    &.hidden{
        display: none;
    }
}

#game-over-banner{
    position: absolute;
    height: 30%;
    width: 100%;
    background-color: red;
    
    top: 30%;
    text-align: center;
    vertical-align: middle;
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;

    h1, h2{
        font-size: 5em;
        padding: 0;
        margin: 0;
    }

    ul{
        padding:0;
        margin: 0;
        display: flex;
        flex-direction: row;
        
        justify-content: space-evenly;
        width: 60%;
        
        li{
            font-size: 2em;
            list-style-type: none;
        }
    }

    button{
        width: 50%
    }

    label{
        font-size: .5em;
    }


}

#upcoming-container{
    @media only screen and (min-width:300px){ 
        width: 90%;
        font-size: .62em;
        padding: .9em;
      }
  
      @media only screen and (min-width:1025px){ 
        width: 37%;
        font-size: .95em;
        padding: .9em;
      }

    margin: 1em auto;
    overflow: hidden;
    position: relative;
    height: 8em;
    border-radius: 1em;
        
    #upcoming {
        font-size: 1em;
        padding: 0;
        width: 100%;
        height: 1em;
        position: relative;
        -webkit-transition: all 1s;
        transition: all 1s;
        
        li{
            width: 1em;
            border-radius: 0%;
            -webkit-transition: all 1s;
            transition: all 1s;
            list-style: none;
            display: inline;
            border: 2px solid #333;
            padding: 1em;
            position: absolute;
            background-color: #FFF;
            opacity: .5;
            left: 0em;
        }
    }   
}