html {
  font-size: 12px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 700;
  background-color: #333;
  color: #FFF;
}

main {
  text-align: center;
}

#error {
  color: #f33;
  font-size: 0.75em;
}

.hide {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
  opacity: 0.1;
  transform: perspective(500px) translate3d(0px, 0, -100px);
}

#game-grid {
  margin: 0em auto 2em auto;
  width: 40%;
  max-width: 800px;
  border: 0px black inset;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media only screen and (min-width: 300px) {
  #game-grid {
    width: 100%;
    font-size: 0.7em;
    max-width: 800px;
  }
}
@media only screen and (min-width: 1025px) {
  #game-grid {
    width: 40%;
    max-width: 800px;
  }
}

#score-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
}
@media only screen and (min-width: 300px) {
  #score-container {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 1025px) {
  #score-container {
    font-size: 2em;
  }
}

#word-container {
  color: yellow;
}
@media only screen and (min-width: 300px) {
  #word-container {
    font-size: 2em;
  }
}
@media only screen and (min-width: 1025px) {
  #word-container {
    font-size: 3em;
  }
}

#word-container, #score-container {
  min-height: 3rem;
  padding: 0.25em 0px;
  border-bottom: #000 1px solid;
  margin: 0px;
}

.tile-container .tile {
  border-radius: 0.5em !important;
  overflow: hidden !important;
}

.tile-container {
  width: 18%;
  transition: all 0.3s;
  margin: 0.5em 0.25em;
  overflow: hidden;
  color: black;
}

.tile-selected .tile {
  border: 0.2em inset #F66;
  color: #060;
}

.tile {
  border: 0.2em inset white;
  overflow: hidden;
  padding: 0px;
  margin: 0.1em;
  position: relative;
  height: 1.5em;
  pointer-events: none;
}
@media only screen and (min-width: 300px) {
  .tile {
    font-size: 4em;
  }
}
@media only screen and (min-width: 1025px) {
  .tile {
    font-size: 5em;
  }
}
.tile .letter {
  font-size: 1em;
  position: relative;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
@media only screen and (min-width: 300px) {
  .tile .letter {
    top: 0.25em;
    left: 0.6em;
  }
}
@media only screen and (min-width: 1025px) {
  .tile .letter {
    top: 0.25em;
    left: 0.8em;
  }
}
.tile sup {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  font-size: 0.25em;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}

button {
  font-size: 1.5em;
  margin: 0.5em;
  padding: 0.25em 1.7em;
  border-radius: 1em;
  border: 10px inset #000;
}
@media only screen and (min-width: 300px) {
  button {
    font-size: 1.25em;
  }
}
@media only screen and (min-width: 1025px) {
  button {
    font-size: 1.5em;
  }
}
button#submit {
  background-color: lime;
}
button#submit:active {
  background-color: green;
}
button#reset {
  background-color: #F00;
  color: #FFF;
}
button#reset:active {
  background-color: #C00;
}
button#clear:active {
  background-color: darkgray;
}

.usedTile {
  position: relative;
  left: -10em;
}

#game-over {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  background-color: rgba(204, 0, 0, 0.95);
  width: 100%;
  height: 100%;
}
#game-over.hidden {
  display: none;
}

#game-over-banner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  text-align: center;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
}
#game-over-banner h1, #game-over-banner h2 {
  font-size: 5em;
  padding: 0;
  margin: 0;
}
#game-over-banner ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 60%;
}
#game-over-banner ul li {
  font-size: 2em;
  list-style-type: none;
}
#game-over-banner button {
  width: 50%;
}
#game-over-banner label {
  font-size: 0.5em;
}

#upcoming-container {
  margin: 1em auto;
  overflow: hidden;
  position: relative;
  height: 8em;
  border-radius: 1em;
}
@media only screen and (min-width: 300px) {
  #upcoming-container {
    width: 90%;
    font-size: 0.62em;
    padding: 0.9em;
  }
}
@media only screen and (min-width: 1025px) {
  #upcoming-container {
    width: 37%;
    font-size: 0.95em;
    padding: 0.9em;
  }
}
#upcoming-container span {
  font-size: 1.5em;
  position: absolute;
  display: block;
  left: 0;
}
#upcoming-container #upcoming {
  font-size: 1em;
  padding: 0;
  width: 100%;
  height: 1em;
  position: relative;
  transition: all 1s;
}
#upcoming-container #upcoming li {
  font-size: 2em;
  color: black;
  width: 1em;
  border-radius: 2em;
  transition: all 1s;
  list-style: none;
  display: inline;
  border: 5px inset #333;
  padding: 0.8em;
  position: absolute;
  background-color: #FFF;
  opacity: 0.5;
  left: 0em;
}

#words-used {
  color: #FFF;
  text-align: left;
  font-size: 2em;
  height: 100%;
  overflow: scroll;
}/*# sourceMappingURL=main.css.map */